In [20]:
import networkx as nx
import pandas as pd
import json

In [24]:
city = "calgary"

In [25]:
edge_file = "../../data/knnsplit/graph_" + city + "_8.csv"
edges = pd.read_csv(edge_file, ' ', header = 0)
G = nx.from_pandas_edgelist(edges, source = 'r1', target='r2')

In [26]:
print nx.number_connected_components(G)

3

In [27]:
mapping = {}
for i, component in enumerate(nx.connected_components(G)):
    for node in component:
        mapping[node] = i

out_file = "../../data/knnsplit/community_" + city + "_8.json"

with open(out_file, "w+") as f:
    json.dump(mapping, f)

In [38]:
import networkx as nx
import json
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

# newdf = pd.DataFrame()
def extract_features(edge_file, rest_file, louvain_dict=None):
    # read in files, construct graph
    edges = pd.read_csv(edge_file, ' ', header = 0)
    df = pd.read_csv(rest_file, sep=' ')
    G = nx.from_pandas_edgelist(edges, source = 'r1', target='r2')

    #community dicts
    # if louvain_dict:
    with open(louvain_dict, "r") as f:
        assignments = json.loads(f.read())
    partition = {}
    #translate dict from community # --> list of nodes in community
    for part, idx in assignments.iteritems():
        if idx not in partition:
            partition[idx] = [part]
        else:
            partition[idx].append(part)

    df = df[df['id'].map(lambda x: x in assignments)]
    print df.shape
    #add features to df!
    ##### degree #####
    df['degree'] = df['id'].map(lambda x: 0 if x not in assignments else G.degree(x))

    ##### clustering coefficient #####
    df['clustering'] = df['id'].map(lambda x: 0 if x not in assignments else nx.clustering(G, x))

    ##### edge density of community #####
    comm_edge_densities = {}
    for idx, comm in partition.iteritems():
        H = G.subgraph(comm)
        comm_edge_densities[idx] = nx.density(H)
    
    df['comm_edge_density'] = df['id'].map(lambda x: 0 if x not in assignments else comm_edge_densities[assignments[x]])

    ##### community size #####
    df['comm_sz'] = df['id'].map(lambda x: 0 if x not in assignments else len(partition[assignments[x]]))

    ##### avg community rating #####
    # precalculate avg community ratings
    comm_review_counts = {}
    for idx, comm in partition.iteritems():
        metric_sum = 0.0
        for node in comm:
            node_row = df.loc[df['id'] == node]
            metric_sum += float(node_row['review_count'])
        metric_sum /= len(comm)
        comm_review_counts[idx] = metric_sum
    
    def comm_review_count_exclude(x):
        if x not in assignments:
            return 0
        else:
            curr_review = df.loc[df['id'] == x]['review_count']
            comm_review_count = comm_review_counts[assignments[x]]
            return float((comm_review_count * len(partition[assignments[x]]) - curr_review) / (len(partition[assignments[x]]) - 1))

    df['comm_review_count'] = df['id'].map(lambda x: comm_review_count_exclude(x))#predicting: review count, rating separately, review count * normalized rating?#predicting: review count, rating separately, review count * normalized rating?
    #now: weighting
    # df['review_count'] = df['review_count'] * df['stars'] / 5
    # df['review_count']

    cols = {'degree': df.degree, 'clustering': df.clustering, 'comm_edge_density': df.comm_edge_density,
    'comm_sz': df.comm_sz, 'comm_review_count': df.comm_review_count, 'review_count': df.review_count}
    dfeatures = pd.DataFrame(cols)
    return dfeatures

def load_graph():
    city = "toronto"
    ef = "../../data/knnsplit/graph_" + city + "_cats_uncut_8.csv"
    rf = "../../data/yelp_" + city + ".csv"
    cf = "../../data/knnsplit/community_" + city + "_cats_uncut_8.json"
    trainfeatures = extract_features(ef, rf, cf)

    city = "calgary"
    ef = "../../data/knnsplit/graph_" + city + "_cats_uncut_8.csv"
    rf = "../../data/yelp_" + city + ".csv"
    cf = "../../data/knnsplit/community_" + city + "_cats_uncut_8.json"
    testfeatures = extract_features(ef, rf, cf)

    trainfeatures['split'] = 0
    testfeatures['split'] = 1
    dfeatures = pd.concat([trainfeatures, testfeatures])

    # pd.to_numeric(dfeatures['review_count'], errors='coerce')
    return dfeatures
    # Tyler's
    # trainfeatures = extract_features("data/graph_toronto_knn_20.csv", "data/yelp_toronto.csv", "data/louvain_dict_knn_20.json")
    # testfeatures = extract_features("data/graph_calgary_knn_20.csv", "data/yelp_calgary.csv", "data/louvain_calgary_dict_knn_20.json")

In [39]:
df = load_graph()

(3377, 6)
(307, 6)

In [41]:
print df

      clustering  comm_edge_density  comm_review_count  comm_sz  degree  \
2       0.000000           1.000000           5.000000        2       1
6       0.333333           1.000000          52.000000        2       3
12      0.000000           1.000000           3.000000        2       1
18      1.000000           1.000000          36.666667        4       3
19      0.000000           1.000000           5.000000        2       1
22      1.000000           0.500000          26.666667        4       2
25      0.000000           1.000000          94.000000        2       1
28      0.000000           1.000000           8.000000        2       1
29      0.000000           0.666667         157.000000        3       1
30      0.666667           0.833333          10.000000        4       3
31      1.000000           1.000000         161.500000        3       2
32      1.000000           1.000000          43.500000        3       2
34      1.000000           1.000000          50.500000        3       2
35      0.000000           1.000000         370.000000        2       2
42      0.000000           1.000000           6.000000        2       1
56      0.000000           1.000000          78.000000        2       1
59      1.000000           1.000000           8.333333        4       3
65      1.000000           0.472222          32.625000        9       3
75      0.000000           1.000000          24.000000        2       1
78      0.000000           1.000000          14.000000        2       1
79      0.000000           0.666667          11.333333        4       1
82      1.000000           1.000000          22.500000        3       2
89      0.000000           1.000000          13.000000        2       1
91      0.333333           1.000000           9.000000        2       3
92      1.000000           1.000000          11.000000        3       2
97      0.000000           1.000000          14.000000        2       1
98      1.000000           0.333333          42.833333        7       2
101     0.000000           1.000000          51.000000        2       2
104     0.000000           0.666667           8.500000        3       1
108     0.000000           0.288889           5.777778       10       1
...          ...                ...                ...      ...     ...
3097    1.000000           0.333333          22.125000        9       3
3100    1.000000           0.833333           6.333333        4       2
3124    0.333333           0.290909          29.500000       11       3
3128    0.000000           0.500000           9.500000        5       1
3134    0.333333           0.666667           6.666667        4       3
3149    0.000000           0.500000           6.666667        4       1
3161    0.000000           1.000000           6.000000        2       1
3164    1.000000           0.733333          19.800000        6       4
3198    0.666667           0.800000          11.750000        5       4
3205    0.666667           0.290909          28.700000       11       3
3206    0.000000           0.400000          52.750000        5       2
3218    0.333333           0.666667          10.000000        4       3
3244    1.000000           0.800000          13.500000        5       3
3249    0.000000           0.600000          38.200000        6       1
3250    0.666667           0.488889          53.555556       10       3
3282    1.000000           1.000000          17.500000        3       2
3285    1.000000           0.666667           9.666667        4       2
3287    0.000000           0.288889           8.000000       10       1
3309    0.666667           0.488889          55.222222       10       6
3310    0.000000           0.285714          17.000000        7       2
3394    0.000000           0.400000          45.250000        5       1
3396    1.000000           0.358974          17.416667       13       4
3407    1.000000           1.000000          22.000000        3       2
3440    0.500000           0.666667          23.000000        6       4
3443    0.000000           0.238095         115.666667        7       1
3447    0.666667           0.800000          13.500000        5       4
3480    1.000000           1.000000          14.000000        3       2
3487    0.833333           0.666667          20.800000        6       4
3506    1.000000           0.800000           4.250000        5       3
3559    1.000000           1.000000           6.500000        3       2

      review_count  split
2               23      0
6               31      0
12               4      0
18              27      0
19              16      0
22              24      0
25               5      0
28              10      0
29             171      0
30              10      0
31              58      0
32              76      0
34             110      0
35              52      0
42              14      0
56              32      0
59               4      0
65              18      0
75              53      0
78              10      0
79               3      0
82              87      0
89              12      0
91               8      0
92               8      0
97              80      0
98               4      0
101             16      0
104              8      0
108             11      0
...            ...    ...
3097             5      1
3100             3      1
3124            26      1
3128            50      1
3134             3      1
3149             5      1
3161             3      1
3164            89      1
3198            11      1
3205            34      1
3206             8      1
3218            43      1
3244             4      1
3249            11      1
3250            62      1
3282             5      1
3285             9      1
3287             3      1
3309            47      1
3310            10      1
3394            38      1
3396             9      1
3407             6      1
3440            17      1
3443            47      1
3447             4      1
3480            38      1
3487            28      1
3506             3      1
3559            37      1

[3684 rows x 7 columns]

In [34]:
print newdf.shape

(0, 0)

In [42]:
df.reset_index(drop=True)

,clustering,comm_edge_density,comm_review_count,comm_sz,degree,review_count,split
0,0.000000,1.000000,5.000000,2,1,23,0
1,0.333333,1.000000,52.000000,2,3,31,0
2,0.000000,1.000000,3.000000,2,1,4,0
3,1.000000,1.000000,36.666667,4,3,27,0
4,0.000000,1.000000,5.000000,2,1,16,0
5,1.000000,0.500000,26.666667,4,2,24,0
6,0.000000,1.000000,94.000000,2,1,5,0
7,0.000000,1.000000,8.000000,2,1,10,0
8,0.000000,0.666667,157.000000,3,1,171,0
9,0.666667,0.833333,10.000000,4,3,10,0
10,1.000000,1.000000,161.500000,3,2,58,0
11,1.000000,1.000000,43.500000,3,2,76,0
12,1.000000,1.000000,50.500000,3,2,110,0
13,0.000000,1.000000,370.000000,2,2,52,0
14,0.000000,1.000000,6.000000,2,1,14,0
15,0.000000,1.000000,78.000000,2,1,32,0
16,1.000000,1.000000,8.333333,4,3,4,0
17,1.000000,0.472222,32.625000,9,3,18,0
18,0.000000,1.000000,24.000000,2,1,53,0
19,0.000000,1.000000,14.000000,2,1,10,0
20,0.000000,0.666667,11.333333,4,1,3,0
21,1.000000,1.000000,22.500000,3,2,87,0
22,0.000000,1.000000,13.000000,2,1,12,0
23,0.333333,1.000000,9.000000,2,3,8,0
24,1.000000,1.000000,11.000000,3,2,8,0
25,0.000000,1.000000,14.000000,2,1,80,0
26,1.000000,0.333333,42.833333,7,2,4,0
27,0.000000,1.000000,51.000000,2,2,16,0
28,0.000000,0.666667,8.500000,3,1,8,0
29,0.000000,0.288889,5.777778,10,1,11,0
...,...,...,...,...,...,...,...
3654,1.000000,0.333333,22.125000,9,3,5,1
3655,1.000000,0.833333,6.333333,4,2,3,1
3656,0.333333,0.290909,29.500000,11,3,26,1
3657,0.000000,0.500000,9.500000,5,1,50,1
3658,0.333333,0.666667,6.666667,4,3,3,1
3659,0.000000,0.500000,6.666667,4,1,5,1
3660,0.000000,1.000000,6.000000,2,1,3,1
3661,1.000000,0.733333,19.800000,6,4,89,1
3662,0.666667,0.800000,11.750000,5,4,11,1
3663,0.666667,0.290909,28.700000,11,3,34,1
3664,0.000000,0.400000,52.750000,5,2,8,1
3665,0.333333,0.666667,10.000000,4,3,43,1
3666,1.000000,0.800000,13.500000,5,3,4,1
3667,0.000000,0.600000,38.200000,6,1,11,1
3668,0.666667,0.488889,53.555556,10,3,62,1
3669,1.000000,1.000000,17.500000,3,2,5,1
3670,1.000000,0.666667,9.666667,4,2,9,1
3671,0.000000,0.288889,8.000000,10,1,3,1
3672,0.666667,0.488889,55.222222,10,6,47,1
3673,0.000000,0.285714,17.000000,7,2,10,1
3674,0.000000,0.400000,45.250000,5,1,38,1
3675,1.000000,0.358974,17.416667,13,4,9,1
3676,1.000000,1.000000,22.000000,3,2,6,1
3677,0.500000,0.666667,23.000000,6,4,17,1
3678,0.000000,0.238095,115.666667,7,1,47,1
3679,0.666667,0.800000,13.500000,5,4,4,1
3680,1.000000,1.000000,14.000000,3,2,38,1
3681,0.833333,0.666667,20.800000,6,4,28,1
3682,1.000000,0.800000,4.250000,5,3,3,1
3683,1.000000,1.000000,6.500000,3,2,37,1

In [46]:
for col in df.columns:
    print len(df) - len(df[col].dropna())

0
0
104
0
0
0
0